spring:
  application:
    name: cimaBooking

  datasource:
    url: jdbc:postgresql://localhost:5432/cima_booking_db
    username: postgres
    password: koko992002
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
